.btn-custom {
    color: red;
    background-color: transparent;
    border: none;
    box-shadow: none;
}
.btn-custom:hover, .btn-custom:focus {
    color: red;
    text-decoration: none;
    background-color: transparent;
    box-shadow: none;
}
.btn-custom-outline {
    color: gray;
    border: 1px solid gray;
}
.btn-custom-outline:hover, .btn-custom-outline:focus {
    color: gray;
    background-color: transparent;
    border-color: gray;
}

.red-text {
    color: red;
}

.bold-text {
    font-weight: bold !important;
}