.module-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.module-buttons button {
    background-color: #d3d3d3;  /* 灰色背景 */
    border: none;
    padding: 10px 15px;         /* 给按钮添加一些padding，使其更加美观 */
    cursor: pointer;
    border-radius: 5px;         /* 为按钮添加轻微的圆角 */
    color: #333;                /* 文本颜色 */
    transition: 0.3s;          /* 过渡效果，使hover效果更平滑 */
}


.module-buttons .add-module-btn {
    background-color: red;     /* 红色背景 */
    color: white;              /* 文本颜色为白色 */
}

.module-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* 将图标居右 */
    gap: 10px;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-left: 5px;
    display: flex;       /* 使图标垂直居中 */
    align-items: center; 
}

/* 分隔线 */
.list-group {
    border-top: 1px solid #ddd;
    margin-top: 10px;
}

.list-group-item {
    border: none;
    padding: 10px 0;
    position: relative;
}

.list-group-item h3 {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    margin: 0;
}

.list-group-item h3::before {
    content: "▶";  /* 这个是一个小的箭头，表示可展开的模块 */
    display: inline-block;
    margin-right: 10px;
    transition: transform 0.3s;
}

.list-group-item h4 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}

.list-group-item p {
    margin: 0;
    font-size: 14px;
    color: #888;
}

