.dashboard-container {
    margin-left:30px; /* Adjust based on the width of your Kanbas Navigation sidebar */
    padding: 20px;
   
}

.course-card {
    width: 260px; /* Set the width of the course card */
    margin: 30px 20px; /* Set the margin to get the desired spacing */
}

.card img {
    height: 150px; /* Adjust based on your preference */
    object-fit: cover; /* To make sure the image covers the area */
}
