.wd-dropdown-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.wd-dropdown-menu li {
    padding: 10px 15px;
}

.wd-dropdown-menu li a {
    color: red; /* 设置链接为红色 */
    text-decoration: none; /* 移除下划线 */
}

.wd-dropdown-menu li.wd-active a {
    font-weight: bold; /* 为当前活动的链接设置粗体 */
}

.dropdown-menu-align {
    right: 0;
    left: auto;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.dropdown-menu {
    margin-top: 70px;
    width: 100vw; /* 设置宽度为视口的100% */
    max-width: none; /* 移除任何最大宽度限制 */
}