.icon-spacing {
    margin-right: 5px;
}

.green-border-left {
    border-left: 3px solid green;
    padding-left: 10px;
}
.content-indent {
    margin-left: 40px;
}

.bordered-list li {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

.bordered-list li:last-child {
    border-bottom: none;
}

.push-right {
    margin-left: auto;
}

.no-underline {
    text-decoration: none;
}

.red-link {
    color: red;
}

.red-icon {
    color: red;
}

.green-icon {
    color: green;
}

.list-group-item {
    align-items: center; /* Ensure vertical alignment of all children */
}

.margin-left{
    margin-left: 25px;
}

.btn-unpublish {
    background-color: #f0f0f0; /* 灰色背景 */
    color: black; /* 文本颜色 */
    border: none; /* 移除边框 */
    padding: 5px 15px; /* 内边距 */
    margin-right: 10px; /* 右边距 */
    cursor: pointer; /* 鼠标悬停时的样式 */
}

.btn-unpublish:hover {
    background-color: #e0e0e0; /* 鼠标悬停时的背景颜色 */
}

.btn-published {
    background-color: #4CAF50; /* 绿色背景 */
    color: white; /* 文本颜色 */
    border: none; /* 移除边框 */
    padding: 5px 15px; /* 内边距 */
    cursor: pointer; /* 鼠标悬停时的样式 */
}

.btn-published:hover {
    background-color: #45a049; /* 鼠标悬停时的背景颜色 */
}

.btn-published .fa-check {
    color: rgba(255, 255, 255, 0.7); /* 透明的白色 */
}

.btn-custom {
    background-color: #f0f0f0; /* 灰色背景 */
    color: black; /* 文本颜色 */
    border: none; /* 移除边框 */
    padding: 5px 15px; /* 内边距 */
    margin-bottom: 5px; /* 下边距 */
    width: 100%; /* 按钮宽度 */
    text-align: left; /* 文本对齐方式 */
    cursor: pointer; /* 鼠标悬停时的样式 */
}

.btn-custom:hover {
    background-color: #e0e0e0; /* 鼠标悬停时的背景颜色 */
}

.btn-custom .fas {
    margin-right: 10px; /* 图标和文本之间的距离 */
}

.margin-top{
    margin-top: 10px;
}

.margin-right{
    margin-right: 10px;
}

.margin-bottom{
    margin-bottom: 10px;
}   


.custom-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    color: #6c757d; /* 这是Bootstrap默认的颜色，您可以根据需要更改 */
    padding: 0 0.5rem; /* 为了保持与默认样式的一致性 */
}

.wd-bg-color-black {
    background-color: black;
    color: #ffffff; /* Pure white color */
}

.btn-transparent {
    background-color: transparent;
    border: none;
    color: #ffffff; /* Pure white color */
}