.wd-account-navigation{
    background-color: white;
    list-style: none;
    padding:15px;
    width: 190px;
    margin:0px;
    margin-left: 20px;
    margin-right: 50px;

}

.wd-account-navigation li{
    text-align: left;
    padding-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    
}

.wd-account-navigation li.wd-active{
   border-left:2px solid black;
}

.wd-account-navigation li.wd-active a{
    color:black;
 }

.wd-account-navigation a{
    color: red;
    text-decoration: none;
}