.wd-course-navigation{
    background-color: white;
    list-style: none;
    padding:0px;
    width: 120px;
    margin:0px;
    margin-left: 20px;
    margin-right: 20px;

}

.wd-course-navigation li{
    padding-left: 15px;
    margin-bottom: 15px;
    margin-top: 0px;
    /* font-size: 0.8em; */
    /* text-align: center; */
}

.wd-course-navigation li.wd-active{
   border-left:2px solid black;
}

.wd-course-navigation li.wd-active a{
    color:black;
 }

.wd-course-navigation a{
    color: red;
    text-decoration: none;
}